.changePassword {
    color: black;
    width: 100%;
    padding: 50px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    h3 {
        margin: 20px;
    }
    .svg__img {
        width: 100px;
        height: 100px;
        color: #4c75a3;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    input {
        height: 36px;
        width: 220px;
        padding: 0 10px;
        border-radius: 5px;
        border: 1px solid rgb(216, 216, 216);
    }
    input:focus {
        outline: 1px solid rgb(28, 106, 185) !important;
    }
    button {
        background-color: rgb(38, 136, 235);
        color: white;

        &:disabled {
            background-color: rgb(124, 179, 243);
            color: white;
        }
    }
}
