@import '../../assets/scss/colors';

.security {
    background-color:$color-white;
    border-radius: 12px;
    padding: 8px;
    font-size: 19px;
    height: 100%;
    color: $color-black;
}

.security h3 {
    padding: 8px;
}

.security li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    width: 100%;
    color: $color-black;
}

.security li a:hover {
    background-color: $color-white;
    cursor: pointer;
    border-radius: 12px;
}

.security svg {
    width: 30px;
    height: 30px;
    color: $color-primary;
}

.security .active {
    background-color: $color-white;
    border-radius: 12px;
}

.security li a div:first-child {
    display: flex;
    gap: 10px;
}
