@import '../../assets/scss/colors';

.profile {
    color: $color-black;
}

.profile h2 {
    margin: 20px 0;
}

.profile__inner {
    background-color: $color-white;
    border-radius: 15px;
    padding: 20px 50px;
}

.profile__info {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.profile__info-image {
    width: 150px;
    height: 150px;
    position: relative;
}

.profile__info-image:hover {
    cursor: pointer;
}

.profile__info-hiddenImage {
    position: absolute;
    left: 0;
    opacity: 0;
    transition: 0.2s ease-in-out;
    background-color: $color-black;
}

.profile__info-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.profile__info-image:hover img {
    opacity: 0.7;
}

.profile__info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.profile__info-content > label {
    display: flex;
    gap: 20px;
}

.profile__info-content span {
    color: $color-red;
}

.profile__info-content input {
    width: 300px;
    padding: 5px;
}

.profile__info-content p {
    width: 25%;
}

.profile__docs {
    margin: 20px 0;
}

.profile__docs-bg {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: $color-white-profile;
    display: flex;
    align-items: center;
    background-color: rgb(228 228 228);
    gap: 15px;
    min-height: 240px;
    overflow-x: auto;
}

.profile__docs-bg img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.profile__docs-document {
    width: 150px;
    height: 150px;
    background-color: $color-red;
    border-radius: 15px;
}

.profile__docs-btn {
    text-align: right;
    display: flex;
    justify-content: end;
    font-size: 20px;
    background-color: $color-white;
}

.btnSubmit {
    display: flex;
    justify-content: end;
}

.btnSubmit button {
    margin-top: 40px;
    background-color: $color-white;
}

.profile__types-lawyer {
    margin: 40px 0;
}

.profile__types-lawyer p {
    margin-bottom: 10px;
}

.box h2 {
    margin-bottom: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box label input {
    width: 100%;
    padding: 10px;
}

.css-2m9kme-MuiFormControl-root {
    margin: 0 !important;
}

.mainInformationProfile {
    display: flex ;
}


.profile__types {
    display: flex;
    align-items: center;
}

.rating {
    text-align: center;
    margin-left: 100px;
}