$color-grey: grey;
$color-primary: #4C75A3;
$color-secondary: #494949;
$color-primary-lower: #4C75A3;
$color-background: #f5f5f5;
$color-white: #fff;
$color-white-profile: #ededed;
$color-white-lower: #e0f7fa;
$color-black: black;
$color-light-dark: #1a1a1a;
$color-red: rgb(156, 0, 0);
$color-deal: #a4b600;
$color-scrolling-border: #ffee00;
$color-green: rgb(0, 144, 38);