@import '@/assets/scss/colors.scss';

.deal-history {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.deal-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
}

.deal-header {
    display: flex;
    justify-content: space-between;
}

.deal-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deal-button {
    border-radius: 7px !important;
    background-color: $color-primary !important;
}

.reject-button {
    border-radius: 7px !important;
    background-color: $color-red !important;
}

.deal-history-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $color-white !important;
    border-radius: 12px !important;
    position: relative;
    color: $color-deal;
}

.deal-card-actions {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.formSelect {
    display: flex;
}

.empty-show {
    color: $color-black;
    font-size: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.paginationDealHistory {
    display: flex;
    justify-content: center;
}

.formSelectMenu {
    width: 100px;
    margin-top: 8px !important;
    margin-right: 5px !important;
}
