@import '../../assets/scss/colors';

* {
    font-family: "Roboto", sans-serif;
}

.cabinetAside {
    background-color: $color-white;
    border-radius: 12px;
    padding: 8px;
    font-size: 19px;
    width: 30%;
    height: 100%;
}

.cabinetAside li a {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 100%;
    color: black;
}

.cabinetAside li a:hover {
    background-color: $color-background;
    cursor: pointer;
    border-radius: 12px;
}

.cabinetAside li a {
    width: 100%;
    color: $color-black;
}

.cabinetAside svg {
    width: 30px;
    height: 30px;
    color: $color-primary;
}

.cabinetAside .active {
    background-color: $color-background;
    border-radius: 12px;
}
