.containerChat {
    display: flex;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 15px;
}

.userHistory {
    width: auto;
    padding: 10px;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    height: 83vh;
    overflow-y: auto;
    overflow-x: hidden;
}