.message-сard__text {
    background-color: #dbeafe;
    padding: 10px 20px;
    display: flex;
     border: 1px solid  #dbeafe;
    margin: 10px 20px;
    border-radius: 15px;
    flex-direction: column;
}

.message-сard__message {
    color: black;
}