@media (max-width: 1220px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
    .rating {
        margin: 0;
    }
    .profile {
        .container {
            max-width: 100%;
        }
    }
    .cabinetAside {
        width: 37%;
    }
    .cabinet__outlet {
        width: 63%;
    }
    .profile__info-image {
        margin: 0;
    }
    .formSelect {
        flex-wrap: wrap;
    }
    .profile__info-content > label {
        gap: 0;
    }
    .adminControllers {
        overflow-x: auto;
    }
    .deal-card-actions {
        position: relative;
        right: 0;
    }
    .deal-history-card {
        flex-direction: column;
    }

    .css-j791vp-MuiTypography-root {
        gap: 20px !important;
    }
}
