@import '@/assets/scss/colors.scss';

.deal-history {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.containerPicker {
    display: flex;
    justify-content: space-between;
}

.deal-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
}

.deal-header {
    display: flex;
    justify-content: space-between;
}

.deal-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deal-button {
    border-radius: 7px !important;
    background-color: $color-primary !important;
}

.block-button {
    border-radius: 7px !important;
    background-color: $color-red !important;
}

.block-date-button {
    border-radius: 7px !important;
    background-color: rgb(190, 114, 0) !important;
}

.deal-history-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $color-white !important;
    border-radius: 12px !important;
    position: relative;
    color: $color-deal;
}

.deal-card-actions {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.formSelect {
    display: flex;
}

.ufo {
    color: $color-black;
    font-size: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.img-pro {
    max-width: 300px;
    max-height: 300px;
}

.paginationDealHistory {
    display: flex;
    justify-content: center;
}

.formSelectMenu {
    width: 100px;
    margin-top: 8px !important;
    margin-right: 5px !important;
}

.deal-title,
.deal-card-content {
    word-break: break-all;
}

@media (max-width: 1130px) {
    .formSelect {
        flex-wrap: wrap;
    }
    .deal-history-card {
        min-width: 200px;
        margin-right: 20px;
    }
    .deal-description {
        max-width: 600px;
    }
}

@media (max-width: 1000px) {
    .deal-description {
        max-width: 500px;
    }
}
@media (max-width: 850px) {
    .deal-description {
        max-width: 400px;
    }
}
@media (max-width: 700px) {
    .deal-description {
        max-width: 300px;
    }
}
@media (max-width: 600px) {
    .deal-description {
        max-width: 200px;
    }
    .deal-card-actions {
        top: 175px;
        left: 70px;
        right: 0px;
        bottom: 0px;
    }
}

@media (max-width: 480px) {
    .deal-description {
        max-width: 150px;
    }
    .deal-card-actions {
        top: 200px;
        left: 70px;
        max-width: 30px;
    }
    .deal-button {
        text-indent: -9999px;
    }
}
@media (max-width: 400px) {
    .formSelect {
        max-width: 200px;
    }
}
