@import '@/assets/scss/colors.scss';

.rulesPage {
    color: $color-black;
    max-width: 1200px;
    margin: 0 auto;
}

.rulesPage h1 {
    text-align: center;
    margin-top: 20px;
}

.hr {
    margin-top: 30px;
    width: 100%;
    height: 3px;
    background-color: $color-grey;
}

.copyright {
    float: right;
    margin-top: 30px;
    color: $color-black;
}