@import '../../assets/scss/colors';

.notifications {
    color: $color-black;
    height: 38vh;
}

.filter {
    color: $color-black;
    width: min-content;
}

.notify_card {
    background-color: $color-white;
    color: $color-black;
    margin-top: 30px;
    border-radius: 4px;
}       